* {
    padding: 0;
    margin: 0;
}
ul, li {
    list-style: none;
}

.slider-wrapper {
    position: relative;
    margin: 30px auto;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border: 1px solid red;
}

.sliders {
    position: absolute;
    height: 300px;
    width: 1500px;

}

.sliders .slider {
    width: 500px;
    float: left;
    height: 300px;
}

.sliders .slider img {
    width: 100%;
    height: 100%;
}

.slider-arrows {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}

.slider-arrows .arrow {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
}
.slider-arrows .arrow:hover {
    background-color: #ccc;
}

.slider-arrows .arrow.arrow-left {
    float: left;
    margin-left: 10px;
}
.slider-arrows .arrow.arrow-right {
    float: right;
    margin-right: 10px;

}

.slider-dots {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}
.slider-dots .dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
}

.slider-dots .dot.active {
    background-color: #888;
}